/* Your code goes here */

html {
	font-family: Roboto Helvetica sans-serif;
}

h1 {
	font-size: 16px;
	color: #444444;
	text-align: center;
}

.container{
	text-align: center;
	margin: 5px;
	font-size: 13px;
}

.offer {
	display: inline-block;
	width: 400px;
	margin: 4px;
	text-align: center;
	border: 1px solid #cccccc;
	border-radius: 1px;
	box-shadow: 0px 2px 2px #dddddd, 0px 0px 5px #dddddd;
}

.offerTitle {
	font-size: 14px;
	color: #ffffff;
	font-weight: bold;
	background-color: #00b3b3;
	padding: 15px;
}

.offerContents {
	padding: 20px;
	background-color: #fafafa;
	border-radius: 0px 0px 2px 2px
}

table {
	width: 100%;
	background-color: #ffffff;
	border-spacing: 0px;
	box-shadow: 0px 2px 2px #dddddd, 0px 0px 5px #dddddd;
}

th {
	color: #777777;
	font-weight: bold;
	margin: 0px;
	padding: 10px;
	text-align: left;
	border-bottom: solid 1px #f1f1f1;
	font-size: 12px;
}

td {
	font-weight: lighter;
	color: #444444;
	padding: 10px 20px;
	margin: 0px;
	text-align: left;
	border-bottom: solid 1px #f1f1f1;
}

.finalValue {
	color: #2222ff;
	font-weight: bold;
}

